<nav class="{=$navClass}">
  <ul class="{=$listClass}">
    <li class="{=$itemClass}">
      <a href="#aboutus" class="{=$linkClass}">About us</a>
    </li>
    <li class="{=$itemClass}">
      <a href="#benefits" class="{=$linkClass}">Benefits</a>
    </li>
    <li class="{=$itemClass}">
      <a href="#gallery" class="{=$linkClass}">Gallery</a>
    </li>
    <li class="{=$itemClass}">
      <a href="#testimonials" class="{=$linkClass}">Testimonials</a>
    </li>
    <li class="{=$itemClass}">
      <a href="#contacts" class="{=$linkClass}">Contacts</a>
    </li>
  </ul>
</nav>