<!-- 
   - mobile: з 375px;
   - tablet: з 768px;
   - desktop: з 1440px 
 -->
<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Jewelry Showcase</h2>
    <p class="gallery-paragraph">
      Discover the beauty of our handcrafted jewelry in style.
    </p>
    <ul class="gallery-block">
      <li class="wraper-left">
        <img
          src="../images/gallery/gallery-1-mob.jpg"
          srcset="
            ../images/gallery/gallery-1-mob.jpg    1x,
            ../images/gallery/gallery-1-mob@2x.jpg 2x
          "
          alt="purple-bracelet"
        />
        <img
          src="../images/gallery/gallery-2-mob.jpg"
          srcset="
            ../images/gallery/gallery-2-mob.jpg    1x,
            ../images/gallery/gallery-2-mob@2x.jpg 2x
          "
          alt="bracelet-on-the-hand"
        />
      </li>
      <li class="wraper-right">
        <img
          src="../images/gallery/gallery-3-mob.jpg"
          srcset="
            ../images/gallery/gallery-3-mob.jpg    1x,
            ../images/gallery/gallery-3-mob@2x.jpg 2x
          "
          alt="amulet"
        />
        <img
          src="../images/gallery/gallery-4-mob.jpg"
          srcset="
            ../images/gallery/gallery-4-mob.jpg    1x,
            ../images/gallery/gallery-4-mob@2x.jpg 2x
          "
          alt="brooch"
        />
      </li>
    </ul>
  </div>
</section>
